[deployment]
run = ["python3", "server.py"]
deploymentTarget = "cloudrun"

[nix]
channel = "stable-23_05"

[env]
PYTHONPATH = "/nix/store/2vm88xw7513h9pyjyafw32cps51b0ia1-python3-3.8.12/bin/python3"
PATH = "/nix/store/2vm88xw7513h9pyjyafw32cps51b0ia1-python3-3.8.12/bin:$PATH"

modules = ["python-3.10", "web"]

entrypoint = "server.py"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[packager]
language = "python3"

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[workflows]
runButton = "Start Server"
