modules = ["python-3.11"]
[deployment]
run = ["python", "server.py"]
deploymentTarget = "cloudrun"

[nix]
channel = "stable-24_05"

modules = ["python-3.11", "web"]

entrypoint = "server.py"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[packager]
language = "python3"

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Start Server"
author = 42815248
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3.11 server.py"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Capisco Server"

[[workflows.workflow]]
name = "Capisco Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 server.py"
waitForPort = 5000

[agent]
expertMode = true
integrations = ["python_openai:1.0.0"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38001
externalPort = 3001

[[ports]]
localPort = 41177
externalPort = 3000

[[ports]]
localPort = 44377
externalPort = 3002
