[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "nltk>=3.9.1",
    "openai>=1.107.1",
    "requests>=2.32.5",
    "youtube-transcript-api==0.6.2",
]
